.error {
  border: 2px solid red;
}
.content{
  text-align: center;
padding: 5px;
margin-top: 50px;
background-color: #20B2AA;
}
.vova{
  margin: auto;
  width: 225px;
  background-color: white;
  padding: 5px;
  border: 1px solid green;
  color: black;
  box-shadow: 0 0 0 2px #F05258;
}
.boba{
  margin: auto;
  width: 10px;
  background-color: red;
  padding: 5px;
  border: 1px solid green;
  color: black;
  box-shadow: 0 0 0 2px #F05258;
}
